<div class="container">
        <ul class="nav nav-tabs">
                <li class="presentation"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                <li class="presentation"><a routerLink="/servers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Servers</a></li>
                <li class="presentation"><a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Users</a></li>
        </ul>  
<router-outlet></router-outlet>
</div>